<section class="hero">
    <picture>
        <source media="(min-width: 1440px)" srcset="/../images/hero-desktop.jpg">
        <img src="/../images/vasilis-chatzopoulos-6lwyzronth8-unsplash.jpg" alt="hero image" />
    </picture>
    
    <h1 class="hero__title">The Bright Future of Web 3.0?</h1>
    <p class="hero__text">We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. But is it really fulfilling its promise?</p>
    <a class="hero__button" href="/">Read More</a>
</section>