<li class="trending__item">
    <img src={{ trending.data.image }} alt={{ trending.data.imageAlt }} >
    <div class="trending__item-text-wrapper">
        <span class="trending__number">{{ trending.data.number }}</span>
        <h3 class="trending__item-title">{{ trending.data.title }}</h3>
        <p class="trending__item-text">{{ trending.data.text }}</p>
    </div>
    
</li>