.footer {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5E607A;
    background-color: #CACACA;
    padding: 15px;
}

.footer p {
    margin: 0;
}