---
title: News Homepage
layout: base.njk
---
<div class="news__container">
    <section class="news">
        <h2 class="news__title">New</h2>
        <ul class="news__list">
            <li class="news__item">
                <h3 class="news__item-title">Hydrogen VS Electric Cars</h3>
                <p class="news__item-text">Will hydrogen-fueled cars ever catch up to EVs?</p>
            </li>
            <li class="news__item">
                <h3 class="news__item-title">The Downsides of AI Artistry</h3>
                <p class="news__item-text">What are the possible adverse effects of on-demand AI image generation?</p>
            </li>
            <li class="news__item">
                <h3 class="news__item-title">Is VC Funding Drying Up?</h3>
                <p class="news__item-text">Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>
            </li>
        </ul>
    </section>
</div>
